body {
  margin: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  margin: 30px;
  margin-top: 70px;
}

.header logo {
  float: left;
  color: aqua;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}

.header a {
  margin: 10px;
  float: right;
  text-decoration: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  transition: 0.2s;
}

.header a:hover {
  display: flex;
  background-color: black;
  color: white;
  transform: scale(1.2);
  border-width: 0px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.image1 {
  width: 20%;
  margin-top: 30px;
  border-radius: 5px;
}
